/* ===== Base Navbar Styles ===== */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 1rem;
    background-color: rgba(13, 13, 13, 0.6);
    /* semi-transparent dark background */
    backdrop-filter: blur(10px);
    /* adds blur effect behind navbar */
    -webkit-backdrop-filter: blur(10px);
    /* Safari support */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.nav-container {
    
    justify-content: space-between;
    align-items: center;

}

.brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #e5e7eb;
}

/* ===== Nav Links ===== */
.nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
    padding: 0;
    margin: 0;
}

.nav-links a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 1.1rem;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #00ffaa;
}

/* ===== Resume Button ===== */
.resume-badge {
    background: #0ddd8a;
    color: #0d0d0d;
    padding: 0.4rem 1rem;
    border-radius: 20px;
    font-weight: bold;
    font-size: 0.95rem;
    transition: background 0.3s ease;
}

.resume-badge:hover {
    background: #00cc77;
    color: #111010;
}

/* ===== Hamburger Menu ===== */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 4px;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background: #e5e7eb;
    transition: 0.3s;
}

.hamburger .bar.open:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger .bar.open:nth-child(2) {
    opacity: 0;
}

.hamburger .bar.open:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

/* ===== Responsive: Mobile Navigation ===== */
@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    .nav-links {
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        background: #0d0d0d;
        flex-direction: column;
        align-items: center;
        display: none;
        gap: 1rem;
        padding: 1rem 0;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    }

    .nav-links.active {
        display: flex;
    }
}